<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'push'">
    <h1>Lane Viss<small>.com</small></h1>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" routerLink="{{ item }}">{{ item }}</a>
		</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>{{ route | uppercase }}</h1>
      <span class="spacer"></span>
      <ng-container *ngIf="!(isHandset$ | async)">
        <button mat-button *ngFor="let item of navItems" routerLink="{{ item }}">{{ item }}</button>
      </ng-container>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
