@import '~@angular/material/theming';

@mixin app-component-theme($theme) {

  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  $background: map-get($theme, background);

  .mat-list-item.selected, .mat-list-item.selected:focus, .mat-list-item.selected:active {
    background-color: mat-color($accent);
  }
  .mat-list-item.selected .mat-list-item-content {
    color: mat-color($background, background);
  }
}

:host {
  display: block;
  height: 100%;
}
.content {
  padding: 1em;
  flex: 2;
  display: flex;
}
.main-toolbar {
  display: flex;
}
mat-sidenav {
  min-width: 250px;
}
mat-sidenav h1 {
  padding-left: 16px;
}
mat-sidenav h1 small, main-toolbar h1 small {
  font-size: 14px;
}
mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.spacer {
  flex: 1 1 auto;
}
.main-toolbar h1 {
  padding-left: 16px;
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
mat-nav-list a mat-icon, mat-nav-list a img {
  margin-right: 1em;
  font-size: 24px;
}
mat-select {
  width: auto;
}
mat-nav-list {
  padding-top: 0;
}
mat-card.mat-card {
  padding-bottom: 2em;
}
.sidebar-top {
  height: 128px;
}
.sidebar-logo {
  display: block;
  margin: 0 auto;
  height: 100%;
}
