@import '~@angular/material/theming';

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$theme-primary: mat-palette($mat-purple, 700, 300, 900);
$theme-accent: mat-palette($mat-lime);
$theme-warn: mat-palette($mat-red, 700);

$dark-theme-primary: mat-palette($mat-green, 700, 300, 900);
$dark-theme-accent: mat-palette($mat-lime);
$dark-theme-warn: mat-palette($mat-red, 700);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$theme: mat-light-theme(
    $theme-primary,
    $theme-accent,
    $theme-warn
);
$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);
