<h1>Bookmarks</h1>
<h4>Sites I use often that I want quick access to</h4>
<p><a href="https://gmail.com"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/images/favicon5.ico" alt="Gmail" /></a>
<a href="https://youtube.com"><img src="https://www.youtube.com/yts/img/favicon_32-vfl8NGn4k.png" alt="YouTube" /></a>
<a href="https://reddit.com"><img alt="Reddit" src="https://static.appvn.com/a/uploads/thumbnails/072015/repost-for-reddit_icon.png" height="32"/></a>
<a href="https://twitch.tv"><img alt="Twitch" src="https://static.filehorse.com/icons/messaging-and-chat/twitch-desktop-app-icon-32.png" height="32"/></a>
<a href="https://music.google.com"><img src="https://www.advanceduninstaller.com/daa214089402c694c79def49bfb4d49f-icon.ico" alt="Google Music" /></a>
<a href="https://drive.google.com"><img src="https://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_4.ico" alt="Google Drive" /></a>
<a href="http://regexr.com"><img alt="Regexr" src="https://regexr.com/assets/icons/favicon-32x32.png" height="32" /></a></p>
<h4>What Is This Site For?</h4>
<p>I'm a computer programmer, and this is a personal site that I maintain mostly for my own use.  It contains a collection of small tools I've written that make programming a little easier.</p>
